<h1><%= @trip.name %></h1>

<div class="map-canvas" ></div>

<script>
  window.tripId = <%= @trip.id %>
</script>

<%= javascript_include_tag :google_maps %>

<script type="text/javascript">

  $(window).on("ready", function() { getWayPoints() });

</script>