<%= form_for @entry, :url => entries_path, :html => { :multipart => true } do |form| %>
  Add a photo: <%= form.file_field :photo %>
  <p><%= form.text_area :text %></p>
  <%= form.submit %>
<% end %>