<body>
  <div>
    <input id="autocomplete" placeholder="Enter your address"
      type="text"></input>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <%= javascript_include_tag :stops %>
</body>